* {
  margin: 0;                               
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../imagenes/fondo1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #303133;
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #F3CE15;
  border-radius: 5px;
  border-right: 2px solid #303133;
  border-left: 2px solid #303133;
}
ul, ol {
  list-style: none;
}
.contenedor-general {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  display: none;
  padding: 10px;
  background-color: #F3CE15;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
}
.arrow img {
  width: 40px;
  height: 40px;
}
.contenedor {
  width: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 88%;
  background-color: #2b3a47;
  z-index: 0;
}
#nav-mobile {
  height: 0;
  overflow: hidden;
  position: fixed;
}
.logo {
padding-top: 3px;
margin: 0;
display: flex;
justify-content: space-between;
}
.logo img {
  height: 100px;
  width: 300px;
  margin-left: 12%;
  margin-top: 10%;
}
.mas-de-30-años img {
  display: flex;
  width: 10%;
  height: 10%;
  float: right;
  margin-right: 8%;
  margin-top: -9%;
} 
a {
  text-decoration: none;
}
.navegacion {
  width: 600px;
  background-color: #2b3a47;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: calc(53% - 320px);
  margin-top: 10%;
  z-index: 4;
}
.menu {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.menu img {
  width: 0px;
  position: absolute;
  bottom: 0;
  right: 85px;
  z-index: 20;

  -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

  -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

}
.menu li {
  flex-basis: 0;
  flex-grow: 1;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
}
.menu li a {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  font-family: sans-serif;
}
.first-item {
  border-left: 1px solid #fff;
}
.menu li a .text-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F3CE15;
  top: 0%;
  position: absolute;
  z-index: 10;

  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.menu li .down-item {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #2b3a47;
  z-index: 8;

  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

}
.menu li:hover .down-item {
  top: 100%;
  height: 100%;
  background-color: #2b3a47;
}
.menu li:hover .text-item {
  top: 125%;
  height: 50%;
}
.menu li:hover img {
  width: 100%;
  right: 0px;
}
@media (max-width:680px) {
  .navegacion {
    width: 100%;
    margin-left: 0;
  }
  .menu li a {
    font-size: calc(5vw - 1.1em);
  }
}
.caja {
  width: 70%;
  height: auto;
  background-color: #2b3a47;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 2%;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.43);
  display:flex;
  flex-direction: column;
}
.pagination {
  position: absolute;
  top: 102%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination li {
  font-size: 20px;
  margin: 2px 5px;
  cursor: pointer;
}
.pagination .circle {
  height: 12px;
  width: 12px;
  background-color: #000;
  display: inline-block;
  border-radius: 100%;
}
.triangulo {
	border-style: solid;
	border-width: 16px;
	width: 0;
	height: 0;
}
.triangulo > div {
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
	position:relative;
}

.triangulo .right {
  border-color: transparent transparent transparent black;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid green;
  display: flex;
}
.triangulo .right > div {
	border-color: transparent transparent transparent white;
	top:-10px;
	left:-21px;
}
.triangulo .left {
	border-color: transparent black transparent transparent;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid green;
  display: flex;
}
.triangulo .left > div {
	border-color: transparent white transparent transparent;
	top:-10px;
	left:1px;
}
.caja .slideshow .slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.slideshow {
  width: 100%;
  position: relative;
  z-index: 1;
}
.slider li, ul {
  width: 100%;
}
.slider li img {
  width: 100%;
}
.slider .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px 50px;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.pagination {
  position: absolute;
}
.left, .right {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: transparent;
  font-size: 35px;
  z-index: 2;
}
.left {
  left: -15px;
}
.left > div{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #fff;
}
.right > div{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid #fff;
}
.right {
  right: 10px;
}
.text-descr h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #fff;
}
.text-descr p {
  text-align: justify;
  margin-top: 3%;
  padding: 10px;
  color: #fff;
}
.text-descr2{
  
  display: flex;
  flex-direction: column;
}
.ese{
  display: flex;
  justify-content: space-evenly;
}
.ese > a {
  width: 30%;
}
.text-descr2 h2{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30%;
  height: 7%;
  background-color: #0C0F11;
  color: #CAC01E;
  text-align: center;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 35%;
  padding-bottom: 2%;
}
.text-descr2 h3 {
  text-align: center;
  margin-top: 2%;
}
.text-descr2 h4 {
  margin-top: 3%;
  margin-left: 1%;
}
.text-descr2 p {
  text-align: justify;
  margin-top: 3%;
  padding: 10px;
  color: #fff;
}
.tres-areas-1 {
  display: inline-block;
  margin-left: 11%;
  margin-top: 3%;
}
.tres-areas-2 {
  display: inline-block;
  margin-left: 18%;
  margin-top: 3%;
}
.tres-areas-3 {
  display: inline-block;
  margin-left: 17%;
  margin-top: 3%;
}
.tres-areas-1 img, .tres-areas-2 img, .tres-areas-3 img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.service {
  display: inline-flex;
  width: 100%;
  height: auto;
  background-color: #A9AEB1;
  color: #303133;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
  padding: 2% 0% 2% 0%;
  margin: 4% 0.5% 2% 0.5%;
  justify-content: center;
  align-items: center;
}
.service2 {
  display: inline-block;
  width: 30%;
  height: 7%;
  background-color: #0C0F11;
  color: #CAC01E;
  text-align: center;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 35%;
  margin-top: 4%;
  padding-bottom: 2%;
}
.service3 {
  display: block;
  width: 30%;
  height: 7%;
  background-color: #A9AEB1;
  color: #303133;
  text-align: center;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 2.2%;
  margin-top: 4%;
  padding-bottom: 2%;
}
.parrafo p {
  text-align: center;
}
.text-descr3 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  width: 30%;
  height: 7%;
  background-color: #0C0F11;
  color: #CAC01E;
  text-align: center;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 35%;
  padding-bottom: 2%;
}
.half-left {
  display: block;
  width: 50%;
  margin-top: 3%;
  height: auto;
  float: left;
  margin-bottom: 3%;
}
.half-left .titulo {
  text-align: center;
  width: 100%;
  height: 10%;
  margin-bottom: 5%;
  width: 50%;
  height: 7%;
  background-color: #A9AEB1;
  color: #303133;
  text-align: center;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 26%;
  padding-bottom: 2%;
}
.half-left .desarrollo {
  text-align: center;
  width: 100%;
  height: 10%;
  color: #fff;
}
.half-right {
  display: block;
  width: 50%;
  margin-top: 3%;
  height: auto;
  float: right;
  margin-bottom: 3%;
}
.half-right .titulo2 {
  text-align: center;
  width: 100%;
  height: 10%;
  margin-bottom: 5%;
  width: 50%;
  height: 7%;
  background-color: #A9AEB1;
  color: #303133;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 26%;
  padding-bottom: 2%;
}
.half-right .desarrollo2 {
  text-align: center;
  width: 100%;
  height: 10%;
  color: #fff;
}
.text-descr4 {
  display: flex;
  width: 20%;
  background-color: #0C0F11;
  color: #CAC01E;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
}
.titulo3 {
  text-align: center;
  height: 10%;
  margin-top: 7%;
  margin-bottom: 5%;
  width: 40%;
  background-color: #A9AEB1;
  color: #303133;
  border-radius: 5px;
  padding-top: 2%;
  margin-left: 5%;
  padding-bottom: 2%;
}
.desarrollo3 {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: 12%;
  color: #fff;
}
.formulario {
  margin: 0 auto;
  margin-top: 4%;
  width: 335px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #828181;
}
.formulario div + div {
  margin-top: 10%;
}
label {
  display: inline;
  color: #fff;
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-top: 10px;
}
input:focus, textarea:focus {
  border-color: #000;
}
button {
  width: 70px;
  height: 30px;
  background-color: #F3CE15;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 4px 0px #D3B208;
  cursor: pointer;
}
button:hover {
  background-color: #F7D52B;
}
footer{
  width: 100%;
}
.footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #2b3a47;
}
.footer .tandil {
  display: inline;
  height: 100%;
  width: 15%;
  background-color: #F3CE15;
  text-align: center;
  padding-top: 1.5%;
  margin-left: 10%;
  color: #E10404;
}
.footer .mar-del-plata {
  display: inline;
  height: 100%;
  width: 15%;
  background-color: #F3CE15;
  text-align: center;
  padding-top: 3.5%;
  margin-left: 17%;
  color: #E10404;
}
.footer .la-plata {
  display: inline;
  height: 100%;
  width: 15%;
  background-color: #F3CE15;
  text-align: center;
  padding-top: 3%;
  margin-left: 17%;
  color: #E10404;
}
.nro {
  margin-left: 42px;;
}
@media (max-width: 750px){
  body {
    background-image: url("../imagenes/fondo1.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: cover;
  }
  .overlay {
    height: 200%;
    z-index:2;
  }
  .menu {
    display: none;
  }
  #nav-mobile {
    display: block;
    height: auto;
    width: 20%;
    margin-top: 7%;
    margin-left: 3%;
  }
  #nav-mobile img{
    height: 20px;
    width: 20px;
  }
  .nav-items-mobile {
    display: none;
  }
  #nav-mobile.active {
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    position: fixed;
    background-color: #2b3a47;
    margin: 0;
    padding: 7% 0 0 3%;
    z-index: 2;
  }
  #nav-mobile.active ul {
    display: block;
  }
  #nav-mobile.active ul li {
    margin-top: 30px;
  }
  #nav-mobile.active ul li a {
    color: #fff;
  }
  .logo img {
    width: 60%;
    height: 3.5em;
    float: right;
    margin-right: 3%;
    margin-top: 0;
  }
  .mas-de-30-años img {
    display: none;
  }
  .caja {
    width: 95%;
    margin-top: 20%;
  }
  .left {
    margin-left: 1%;
  }
  .h2-mobile {
    padding-top: 15%;
    font-size: 1.3em;
  }
  .h2-mobile2 {
    margin-bottom: 5%;
    font-size: 1.3em;
  }
  .text-descr p {
    text-align: center;
    font-size: 0.5em;
  }
  .caja .slideshow .slider img {
    height: 170px;
  }
  .ese {
    display: block;
  }
  .service {
    display: block;
    font-size: 0.6em;
    width: 90%;
    height: auto;
    margin: 0 3% 3% 5%;
    justify-content: center;
    align-items: center;
  }
  .text-descr3 {
    width: auto;
    margin: 3% 3% 0 3%;
  }
  .half-left .titulo {
    width: auto;
    margin: 0 1.5% 10% 3%;
    font-size: 0.7em;
  }
  .half-left .desarrollo {
    font-size: 0.5em;
  }
  .half-right .titulo2 {
    width: auto;
    margin: 0 3% 10% 1.5%;
    font-size: 0.7em;
  }
  .half-right .desarrollo2 {
    font-size: 0.5em;
  }
  .text-descr4 {
    width: 34%;
    margin-left: 33%;
  }
  .titulo3 {
    width: 90%;
    font-size: 0.7em;
  }
  .desarrollo3 {
    font-size: 0.5em;
    margin-left: 0;
  }
  .text-descr2 h2 {
    width: 80%;
    margin-left: 10%;
  }
  .text-descr2 p {
    font-size: 0.5em;
  }
  .tres-areas-1 img, .tres-areas-2 img, .tres-areas-3 img {
    display: none;
  }
  .ese .mobile {
    display: none;
  }
  .text-descr2 .edition {
    margin-top: -5%;
  }
  .service2 {
    width: 50%;
    margin: 0% 0% 5% 24%;
  }
  .service3 {
    width: 70%;
    margin-left: 100px;
  }
  .service2 {
    width: 90%;
    margin-left: 5%;
  }
  .formulario {
    width: 90%;
  }
  input, textarea {
    width: 100%;
  }
  footer .footer {
    width: 100%;
    height: 100px;
    font-size: 0.7em;
  }
  .footer .tandil {
    width: 30%;
    height: 100%;
    margin-left: 0;
  }
  .nro {
    margin-left: 43%;
  }
  .footer .mar-del-plata {
    width: 30%;
    height: 100%;
    margin-left: 17%;
    padding-top: 9%;
  }
  .footer .la-plata {
    width: 30%;
    height: 100%;
    margin-right: 0;
    padding-top: 9%;
  }
  .arrow {
    display: none !important;
  }
}
